.post-pannel{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.post-pannel input{
    width: calc(95vw - 10rem);
}
.post-pannel form{
    position: relative;
    right: 0.5rem;
    align-self: flex-end;
    display: flex;
    gap: 0.5rem;
    flex-direction: reverse;
    justify-content: end;
}