@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 255, 255, 255;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}



@layer components {
	.text_b {
		@apply flex flex-auto items-center justify-center duration-300 bg-white rounded-xl border mx-4 h-12 w-20 hover:w-28 hover:bg-[#bfbfbf];
	}

	.img_b {
		@apply flex flex-auto gap-2 items-center justify-center duration-500 bg-white rounded-xl border border-white mx-4 h-14 w-14 hover:bg-[#bfbfbf] hover:w-28;
	}
	.bar {
        @apply flex justify-items-start text-xl gap-2 w-full items-start;
    }

    .title {
        @apply font-semibold w-24 flex justify-items-start items-center;
    }
	.navigation-unit{
        @apply w-full h-12 flex items-center justify-center border border-slate-200;
    }
}

/*按钮的动态效果(暂时无法通过tailwind实现)*/
.img_b div {
	transition: 500ms;
	width: 0;
	opacity: 0;
}

.img_b:hover div {
	transition: 500ms;
	display: initial;
	width: 2rem;
	opacity: 1;
}
