.navbar{
    display: flex;
    position: fixed;
}
.navbar-left{
    display: flex;
    align-items: center;
    height: 4rem;
    gap: 0.5rem;
    white-space: nowrap;
}
.navbar-left a:hover{
    text-decoration: underline;
}
.search{
    position: absolute;
    top: 0.2rem;
    left: 25vw;
}

.navbar-right{
    position: absolute;
    left: 90vw;
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    height: 4rem;
    gap: 0.5rem;
    white-space: nowrap;
}

.navbar-right-img-border{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-right-img{
    height: 2.5rem;
    width: 2.5rem;
}