.navbar{
    display: flex;
    position: fixed;
    align-items: center;
}
.navbar-ico{
    justify-self: flex-start;
    display: flex;
    align-items: center;
    height: 4rem;
    gap: 0.5rem;
    white-space: nowrap;
}
.navbar-ico a:hover{
    text-decoration: underline;
}
.center{
    position: absolute;
    left: 7rem;
    display: flex;
    align-items: center;
}
.center-after{
    position: absolute;
    top: 0rem;
    right: 0rem;
    display: flex;
}
.center-after img{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 0.25rem;
    margin-left: 4rem;
    margin-right: 4rem;
    height: 3.5rem;
    width: 3.5rem;
}