.sidebar {
	width: 10rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: flex-start;
}
.selection {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.select-unit {
	display: flex;
	width: 10rem;
	height: 1.5rem;
	margin-left: 1rem;
}
.select-unit svg {
	width: 1.5rem;
	height: 1.5rem;
}
